.form-section {
    min-height: 80vh;
    @include flex(center, center, row);
    margin-top: 3rem;
    form{
        padding: 3rem 10rem;
        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
        0px 20px 40px rgba($color: #000000, $alpha: 0.2);
        @include flex(center, center, column);
        border-radius: 2rem;

        input, textarea {
            margin: 2rem;
            &:focus{
                outline: 2px solid black;
            }
            border-radius: 0.7rem;
            min-height: 4rem;
            padding: 0rem 1rem;
        }

        textarea{
            font-family: "Monserrat", sans-serif;
            font-size: 2rem;
            padding : 1rem;
        }

        button{
            border-radius: 1rem;
            width: 100%;
            padding: 1rem;
            background-color: $background-color;
            color: white;
            &:focus {
                background: rgb(51, 105, 107);
            }
        }
    }
}
